.App {
padding: 0;
margin: 0;
box-sizing: border-box;
display: flex;

}

.leftSideHome {
  flex: 0.15; /* or your preferred width ratio */
  padding: 25px 11px;
  border-right: 1px solid #ddd;
  height: 3000vh; /* Makes the sidebar stretch full viewport height */
  box-sizing: border-box;
}
.middleSide{

  flex: 0.5;
  flex-direction: column;
  /* border-right: 1px solid #ddd;    */
}

.rightSide{
  flex: 0.33;
  
}

@media screen and (min-width:920px) and (max-width: 1140px) {
  .rightSide {
      display: none;
  }
   .leftSideHome{
    flex: 0.2;
   }
   .middleSide{
    flex: 0.5;
   }

}
@media screen and (min-width:920px) and (max-width: 1140px) {
  .rightSide{
    display: none;
  }
  .leftSideHome{
    display: none;
  }
  .middleSide{
    display: none;
  }

}
  
